<div id="container">
  <div id="header">
    <h1>Meal Finder</h1>
  </div>
  <div>
    <mat-form-field style="width: 400px">
      <mat-label>Search meal by starting letter</mat-label>
      <input matInput [(ngModel)]="searchText" />
    </mat-form-field>
  </div>

  <div class="meal-container">
    <div id="meals">
      <app-meal-list
        [searchText]="searchText"
        (mealSelected)="addToFavorites($event)"
      ></app-meal-list>
    </div>
    <div id="favourite-container">
      <h2>My Favorites</h2>

      <h1 *ngIf="favouriteMeals.length == 0">No favourites yet!</h1>
      <mat-list role="list">
        <mat-list-item
          id="list-item"
          *ngFor="let meal of favouriteMeals"
          role="listitem"
          >{{ meal.strMeal }}</mat-list-item
        >
      </mat-list>
    </div>
  </div>
</div>
