<div id="container">
  <div id="header">
    <h1>Meal Finder</h1>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput [(ngModel)]="searchText" />
    </mat-form-field>
    <button (click)="onSearchMeal()" mat-flat-button color="primary">
      Search
    </button>
  </div>

  <app-meal-list
    [searchText]="searchText"
    (mealSelected)="addToFavorites($event)"
  ></app-meal-list>
  <div id="favourite-container">
    <h3>Favorites</h3>

    <mat-list role="list">
      <mat-list-item *ngFor="let meal of favouriteMeals" role="listitem">{{
        meal.strMeal
      }}</mat-list-item>
    </mat-list>
  </div>
</div>
