.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container{
  width: 1240px;
  margin: 0 auto;
}

.meal-container{
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
#meals{
  width: 80%;
}
#favourite-container{
  width: 20%;
}
